<section class="form-section">
    <!--<div class="text">
        <h1> Selecione os filtros</h1>
        <p>Selecione os filtros</p>
    </div> --->
    <form>
    <label for="Estado">Estado</label>
    <input id="Estado"/>
    <label for="Cidade">Cidade</label>
    <input id="Cidade"/>
    <label for="Bairro">Bairro</label>
    <input id="Bairro"/>
    <label for="Avaliação">Avaliação</label>
    <input id="Avaliação"/>
    <btn-primary btn-text="Buscar!" variant="secondary"></btn-primary>
</form>
</section>

