.btn {
    border: none;
    border-radius: 30px;
    padding: 20px 40px;
    cursor: pointer;

    &:disabled{
        opacity: 0.6;
    }

    &.primary{
        color: white;
        background-color: blue;
        font-size: 20px;
        font-weight: bold;
    }
    &.secodary{
        color: white;
        background-color: blue;
        font-size: 15px;
   
    }

}